/* Normalize css */
@import '~sanitize.css';

/* Variables */
:root {
  --min-height: 500px;

  --main-background-color: white;
  --app-background-color: #1f8bfb;
  --pink-color: #a358ea;
  --text-color: white;
}

/* Base */
html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--main-background-color);
  color: var(--text-color);
}

html,
body {
  height: 100vh;
}

h1 {
  margin-top: 0;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}

/* App */
.app-container {
  max-width: 600px;
  text-align: center;
  margin: auto;
  min-height: var(--min-height);
  background-color: var(--app-background-color);
  background: linear-gradient(
    25deg,
    var(--pink-color),
    var(--app-background-color),
    var(--app-background-color)
  );
}

button:disabled {
  opacity: 0.5;
}

.icon {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
}

.icon-exchange {
  background-color: var(--pink-color);
  padding: 5px;
  border-radius: 100%;
  box-shadow: 0 0 2px var(--text-color);
}

.navigation {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
