/* Normalize css */
@import '~sanitize.css';

/* Variables */
:root {
  --min-height: 500px;

  --main-background-color: white;
  --app-background-color: #1f8bfb;
  --pink-color: #a358ea;
  --text-color: white;

  --spaceBig: 50px;
}

/* Base */
html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--main-background-color);
  color: var(--text-color);
}

html,
body {
  height: 100vh;
}

button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  appearance: none;
  color: var(--text-color);
}

button:disabled {
  cursor: not-allowed;
}

a:focus,
button:focus {
  outline: 1px dotted var(--text-color);
}

a:active,
button:active {
  outline: none;
}

a,
a:focus,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}

/* App */
.app-container {
  max-width: 600px;
  text-align: center;
  margin: auto;
  min-height: var(--min-height);
  background-color: var(--app-background-color);
  background: linear-gradient(
    25deg,
    var(--pink-color),
    var(--app-background-color),
    var(--app-background-color)
  );
}

.pageTitle {
  margin: 0 0 var(--spaceBig) 0;
}

.icon {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
}

.icon-exchange {
  background-color: var(--pink-color);
  padding: 5px;
  border-radius: 100%;
  box-shadow: 0 0 2px var(--text-color);
}

.navigation {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.buttonPocket {
  display: block;
  padding: 10px;
  margin: 5px auto;
}

.buttonPocketInfo {
  margin-top: 20px;
}

.isSelectedPocket {
  transform: scale(2);
}

/* Utils */
.u-semiTransparent {
  opacity: 0.5 !important;
}

.u-fontSizeSmall {
  font-size: 0.8rem !important;
}

.u-topMargin {
  margin-top: var(--spaceBig) !important;
}
