/* Normalize css */
@import '~sanitize.css';

/* Variables */
:root {
  --min-height: 500px;

  --main-background-color: white;
  --app-background-color: #1f8bfb;
  --pink-color: #a358ea;
  --text-color: white;

  --spaceBig: 50px;

  --darkBlue: #0a6fd8;

  --rates-red: 2;
  --rates-green: 92;
  --rates-blue: 185;
}

/* Base */
html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--main-background-color);
  color: var(--text-color);
}

html,
body {
  height: 100vh;
}

button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  appearance: none;
  color: var(--text-color);
}

button:disabled {
  cursor: not-allowed;
}

a:focus,
button:focus {
  outline: 1px dotted var(--text-color);
}

a:active,
button:active {
  outline: none;
}

a,
a:focus,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}

/* App */
.app-container {
  max-width: 600px;
  text-align: center;
  margin: auto;
  min-height: var(--min-height);
  background-color: var(--app-background-color);
  background: linear-gradient(
    25deg,
    var(--pink-color),
    var(--app-background-color),
    var(--app-background-color)
  );
}

.pageTitle {
  margin: 0 0 var(--spaceBig) 0;
}

.icon {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
}

.icon-exchange {
  background-color: var(--pink-color);
  padding: 5px;
  border-radius: 100%;
  box-shadow: 0 0 2px var(--text-color);
  transition: opacity 0.3s ease;
}

.icon-exchange--disabled {
  opacity: 0.8;
}

.navigation {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonPocket {
  display: block;
  padding: 10px;
  margin: 5px auto;
}

.buttonPocketInfo {
  margin-top: 20px;
}

.isSelectedPocket {
  transform: scale(2);
}

.rates-container {
  border-top: 1px solid var(--darkBlue);
  border-bottom: 1px solid var(--darkBlue);
  background-color: rgba(
    var(--rates-red),
    var(--rates-green),
    var(--rates-blue),
    0.4
  );
}

.rate + .rate {
  border-top: 1px solid var(--darkBlue);
}

.rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.exchange-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(
    var(--rates-red),
    var(--rates-green),
    var(--rates-blue),
    0.4
  );
}

.exchange-box--dark {
  background-color: rgba(
    var(--rates-red),
    var(--rates-green),
    var(--rates-blue),
    0.7
  );
}

.amount-input-container {
  position: relative;
}

.amount-input-container:before {
  content: '−';
  position: absolute;
  top: 9px;
  left: 33px;
  z-index: 1;
}

.amount-input {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  padding: 10px 5px;
  margin-left: 5px;
  text-align: right;
}

.move-to-button {
  padding: 10px 15px;
  background-color: rgba(
    var(--rates-red),
    var(--rates-green),
    var(--rates-blue),
    0.7
  );
  display: block;
  margin: 0 auto 10px;
}

.change-pocket {
  padding: 10px 15px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: rgba(
    var(--rates-red),
    var(--rates-green),
    var(--rates-blue),
    0.2
  );
}

/* Utils */
.u-semiTransparent {
  opacity: 0.5 !important;
}

.u-fontSizeSmall {
  font-size: 0.8rem !important;
}

.u-topMargin {
  margin-top: var(--spaceBig) !important;
}

.u-block {
  display: block !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-hiddenVisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
